<head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap-theme.min.css">
    <style>
        @font-face {
            font-family: glyphicons;
            src: url('assets/font/glyphicons-halflings-regular.ttf');
        }
    </style>
    <script src="/assets/js/jquery/jquery.min.js"></script>
</head>
